<p>Hola, <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contrase침a. Puedes hacerlo en el link de abajo.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor, ignora este correo.</p>
<p>Tu contrase침a no cambiar치 hasta que entres al link de arriba y crees una nueva.</p>
